.name h4 {
  font-size: 150px;
  margin: 0px;
}

.name p {
  font-size: 50px;
  margin: 0px;
}

.photo img {
  border: dashed white 2px;
  height: 375px;
  border-radius: 50%;
}

.about {
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  padding: 100px;
  /*color: white;*/
}

.container {
  background-color: indianred;
  min-height: 60vh;
}

.link {
  position: relative;
  top: 60px;
  padding: 10px;
  color: black;
  background-color: #faeee7;
  text-decoration: none;
  border: solid black 2px;
  font-weight: bolder;
  border-radius: 8px;
}

.link:hover {
  opacity: 80%;
  color: white;
  background-color: indianred;
  border: solid white 2px;
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  div.photo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.name > p {
    font-size: 30px;
  }
  div.name > h4 {
    font-size: 80px;
  }
}
