.name h4 {
  font-size: 125px;
  margin: 0px;
  color:white;

}

.name p {
  color:white;
  font-size: 50px;
  margin: 0px;
}

.photo img {
  height: 375px;
  border-radius: 50%;
}

.about {
  display: flex;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
  padding-top: 100px;
  color: white;
}

.container {
  background-color: #063970;
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link {
  position: relative;
  top: 60px;
  padding: 10px;
  margin: 2px;
  color: black;
  background-color: white;
  text-decoration: none;
  border: solid black 2px;
  font-weight: bolder;
  border-radius: 8px;
}

.link:hover {
  opacity: 80%;
  color: white;
  background-color: #01015c;
  border: solid white 2px;
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  div.photo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.name > p {
    font-size: 20px;
  }
  div.name > h4 {
    font-size: 50px;
  }
 .container {
  min-height: 60vh;

  }
  .link {
    font-size: 10px;
  padding: 5px;

  }
}
