.contact {
  background-color: #01015c;
  color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  padding: 0 2rem;
}

.contact-section-header > h2 {
  font-size: 4rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.contact-details {
  font-size: 20px;
  color: white;
  /*text-shadow: 2px 2px 1px #1f1f1f;*/
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  /* padding: 1rem 2rem; */
  padding:2px 15px;
  border-radius: 2px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .contact-section-header > p {
    font-size: 15px;
  }
  .contact-section-header > h2 {
    font-size: 30px;
  }
  .btn.contact-details {
    font-size: 15px;
    padding:2px 5px;
  

  }
}
