.portfolio-title {
  font-size: 75px;
  font-family: "Licorice", cursive;
  text-align: center;
  margin: 50px 0px 20px 0px;
}

.portfolio {
  display: flex;
  justify-content: center;
}

.screenshot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 60vw; */
}

.screenshot img {
  width: 450px;
  height: 300px;
  margin-bottom: 0px;
  opacity: 90%;

  /* border: dashed #01015ce8 3px; */
}

.overlap:hover img {
  opacity: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 450px; */
  padding: 25px;
}

.title {
  align-self: stretch;
  text-align: center;
  background-color: #01015ce8;
  color: white;
  padding:5px
}

.overlap {
  position: relative;
}

.redirect-btns {
  position: absolute;
  top: 50%;
  left: 100px;
  display: none;
}

.overlap:hover .redirect-btns {
  display: block;
}

.btn-link {
  padding: 10px;
  color: white;
  margin: 0px 5px 0px 5px;
  background-color: #01015ce8;
  text-decoration: none;
  border: solid white 2px;
  font-weight: bolder;
  border-radius: 8px;
}

.btn-link:hover {
  opacity: 80%;
  color: #01015ce8;
  border: solid #01015ce8 2px;
  background-color: #d8eeef;
  font-weight: bolder;
}

.links {
  background-color: #01015ce8;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
}

.btn-link-2 {
  font-weight: bolder;
  padding: 7px;
  color: white;
  text-decoration: none;
  display: block;
}

.btn-link-2:hover {
  /* opacity: 80%; */
  color: white;
  /* border: solid #01015ce8 2px; */
  /* background-color: #d8eeef; */
  padding: 5px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  div.screenshot img {
    width: 300px;
    height: 200px;
  }

  .portfolio-title {
    font-size: 50px;
  }

.btn-link-2 {
  font-size: 10px;
}
.title {
  font-size: 10px;
}

  .btn-link {
    padding: 5px;
    color: white;
    margin: 0px 5px 0px 5px;
    background-color: #01015ce8;
    text-decoration: none;
    border: solid white 2px;
    font-weight: bolder;
    border-radius: 4px;
  }

  .overlap {
    position: relative;
  }

  .redirect-btns {
    position: absolute;
    top: 50%;
    left: 50px;
    display: none;
  }
}
