.portfolio-title {
  font-size: 40px;
  text-align: center;
  margin: 50px 0px 20px 0px;
  color: #01015ce8;

}

.portfolio {
  display: flex;
  justify-content: center;
}

.screenshot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.screenshot img {
  width: 450px;
  height: 300px;
  margin-bottom: 0px;
  opacity: 90%;
  border-radius: 5px;

}

.overlap:hover img {
  opacity: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  
}

.title {
  align-self: stretch;
  text-align: center;
  background-color: #01015ce8;
  color: white;
  padding:5px;
  border-radius: 5px;
}

.overlap {
  position: relative;
}

.redirect-btns {
  position: absolute;
  top: 50%;
  left: 100px;
  display: none;
}

.overlap:hover .redirect-btns {
  display: block;
}


.links {
  background-color: #01015ce8;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  border-radius: 5px;

}

.btn-link-2 {
  font-weight: bolder;
  padding: 7px;
  color: white;
  text-decoration: none;
  display: block;
}

.btn-link-2:hover {
  color: white;
  padding: 5px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  div.screenshot img {
    width: 300px;
    height: 200px;
  }

  .portfolio-title {
    font-size: 50px;
  }

.btn-link-2 {
  font-size: 10px;
}
.title {
  font-size: 10px;
}

.portfolio-title {
  font-size: 15px;
}

  .overlap {
    position: relative;
  }

  .redirect-btns {
    position: absolute;
    top: 50%;
    left: 50px;
    display: none;
  }
}
