.portfolio p {
  font-size: 75px;
  font-family: 'Licorice', cursive;
  text-align: center;
}

.screenshot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1850px;
}

.screenshot img {
  width: 450px;
  height: 300px;
  margin: 30px;
  margin-bottom: 0px;
  border: dashed indianred 3px;
}

.image:hover img {
  opacity: 30%;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  width: 450px;
  text-align: center;
  background-color: indianred;
  color: white;
  padding: 3px;
}

/*



.description {
  padding-left: 50px;
}

.work {
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
}

.description p {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.description h4 {
  font-size: 30px;
}


.website {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
}

.screenshot {
  position: relative;
  bottom: 5px;
  margin-bottom: 10px;
}



.screenshot:hover .website {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
}


*/
